.bg-light{
	background-color: #57CC8A !important
}
.nav-link.active{
	background-color: #57CC8A !important
}
tr:nth-child(odd){
	background-color: #edfcf4
}
.nav-pills .show>.nav-link{
	background-color: #57CC8A !important
}